$form-color: #ffffff;
$bg-color: #dddddd;
$modal-bg-color: #1818188f;
$splash-bg-color: #e9e4e0;

$border-hover: #272c30;
$gray: #636363;

$input-bg-color: #cccccc;
$input-outline-color: #9b9b9b;

$form-button: #ffc038;
$form-button-color: #2f3234;
$form-button-sub: #b3b3b3;

$accord-app-1: #e9e4e0;
$accord-app-2: #c2bcb8;
$accord-app-3: #999491;
$accord-app-4: #777371;
$accord-app-5: #5e5a58;

$main-btn: #ffc038;
$main-btn-color: #2f3234;
$main-btn-hover: #ffd477;

$font-main: #2f3234;
$font-sub: #474d52;
$font-main-negative: rgb(255, 250, 244);
$font-sub-negative: #999999;
$danger: #d84141;

$link-color: #41aaff;
$link-button-color: #ffc038;
$link-button-color-hover: #ffd477;
$link-hover-color: #137bcf;

$chat-hover: #b6afaa;