.echoapp-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 3.75%vw;

  .home-link-wrapper {
    display: grid;
    width: 48px;
    height: 48px;
    border: transparent;
    transition: 0.1s ease-in-out;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;

    .home-link {
      color: white;
      font-size: 20px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 10px;
      transition: 0.1s ease-in-out;
      border: transparent;

      &:hover {
        color: black;
        background-color:rgb(102, 198, 228);
      }
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .server-wrapper::-webkit-scrollbar {
    display: none;
  }

  .server-wrapper {
    display: grid;
    width: 50px;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    // overflow-y: hidden;
    overflow-y: scroll;
    h2 {
      color: white;
      border-radius: 1px solid black;
    }
    .server-index-wrapper {
      display:flex;
      justify-content: center;
      border: 1px solid rgb(177, 177, 177);
      border-radius: 10px;
      // z-index: 5;
      
      // server buttons
      .server-link {
        color: rgb(184, 176, 176);
        font-size: 20px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 10px;
        transition: 0.1s ease-in-out;
        border: transparent;

        &:hover {
          color: rgb(0, 0, 0);
          background-color:rgb(35, 187, 247);
        }

      }

      // tool tip display hovered
      .server-name-tooltip {
        position: absolute;
        border-style: solid;
        background-color: black;
        color: rgb(255, 255, 255);
        left: 50px;
        margin-top: 12px;
        font-weight: 500;
        // content: " ";
        // top: 50%;
        // right: 100%; /* To the left of the tooltip */
        // margin-top: -5px;
        // border-width: 1px;
        // border-color: transparent black transparent transparent;
      }

    }

  }

  // create server display button
  .create-server-button {
    color: rgb(184, 176, 176);
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    border: 1px solid rgb(255, 255, 255);
    // border: transparent;
    // .open-modal-tooltip {
    //   position: absolute;
    //   border-style: solid;
    //   background-color: black;
    //   color: rgb(255, 255, 255);
    //   left: 50px;
    //   margin-top: 12px;
    //   font-weight: 500;
    //   display: none;
    // }
    
    .open-modal-create {
      color: rgb(184, 176, 176);
      font-size: 20px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border-radius: 10px;
      transition: 0.1s ease-in-out;
      border: 1px solid rgb(255, 255, 255);
      &:hover {
        color: black;
        background-color:rgb(35, 187, 247);
      }
    }

    &:hover {
      color: black;
      background-color:rgb(35, 187, 247);
    }


  }


}

.channels-servername-messages-users-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(255, 255, 255);
  width: 100vw;
  // margin-top: 50px;
  // min-width: 0;
  // min-height: 0;
  // overflow: hidden;
  // height: 100vh;
  // z-index: 5;
  // .message-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   height: 800px;
  //   justify-content:end;
  //   padding: 10px;
  //   width: 20%;
  //   p {
  //       color: rgb(204, 204, 204);
  //   }
  // }
  
  .server-header-wrapper {
    display: flex;
    
    height: 30px;
    border: 1px solid white;
    align-items: center;
    padding: 10px;

    .server-owner-button-wrapper {
      .delete-button, .edit-button {
        color: white;
        margin-left: 10px;
        // padding: 10px;
      }
    }



    .join-leave-server-button-wrapper {
      .leave-button, .join-button {
        color: white;
        margin-left: 10px;

        // padding: 10px;
      }
    }
    .server-name-text {
      display: grid;
      color: rgb(182, 182, 182);
      flex-direction: column;
    }

  }

  .channel-messages-users-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
  
    .message-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      // border: 1px solid white;
      width: 75%;
      .message-header{
        border-bottom: 1px solid white;

        h1{
          font-size: 25px;
          color: rgb(204, 204, 204);

        }
      }
      .messages {
        align-self: flex-start;
        p {
          color: rgb(204, 204, 204);
        }  
      }
    }
    
    .users-wrapper {
      width: 10%;
      padding-left: 15px;
      border: 1px solid white;
      // display: flex;
      // flex-direction: column;

      .users-link {
        display: flex;
        color: rgb(204, 204, 204);
        flex-direction: row;
        padding-top: 10px;
      }
    }

  }


}