.channel-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 15px;
  width: 11.2%;
  min-width: 206.75px;
  max-width: 238.87px;

  .channel-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    .channel-header {
      color: rgb(204, 204, 204);
    }
    .create-channel-button{
      font-size: 25px;
      color: rgb(204, 204, 204);
      &:hover {
        color: white;
      }
    }
  }

  .channel-index-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(204, 204, 204);
    margin-top: 15px;
    margin-left: 10px;
    .channel-index-item {
      display: flex;
      p {
        margin-right: 5px;
      }
      .channel-button {
        width: 50%
      }
      .cog {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

.create-channel-form-wrapper {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}