.channel-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 15px;
  width: 11.2%;
  min-width: 206.75px;
  max-width: 238.87px;
  .channel-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    .channel-header {
      color: rgb(240, 240, 240);
      font-weight: 501;
      font-size: 14px;
    }
    .create-channel-button{
      font-size: 25px;
      color: rgb(204, 204, 204);
      &:hover {
        color: white;
      }
    }
  }

  .channel-index-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(204, 204, 204);
    margin-top: 10px;
    // margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    height: 32px;
    &:hover {
      background-color: rgb(58, 58, 58);
      // div hover to change nested divs
      .channel-index-item {
        display: flex;
        .channel-button {
          margin-right: 5px;
          color: rgb(230, 230, 230);
        }
        p {
          color: rgb(230, 230, 230);
        }
      }
      .cog {
        display: flex;
      }
    }
    .cog {
      display: none;
      &:hover {
        color: white;
      }
    }
    .channel-index-item {
      display: flex;
      align-items: center;
      p {
        font-size: 20px;
        margin-right: 5px;
        color: #72767d;
        &:hover {
          color: white;

        }
      }
      .channel-button {
        font-weight: 525;
        font-size: 15px;
        color: #72767d;
      }
    }
  }
}
// create channel form channel_index from react-modal
.create-channel-form-wrapper-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  .create-channel-form-wrapper {
    height: auto;
    width: auto;
    .create-channel-form {
      background-color: rgb(253, 253, 253);
      height: 520px;
      width: 440px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
      .create-channel-header-type-input-wrapper {

      }
      .create-channel-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2f3136;
        padding: 15px;
        height: 70px;
        .cancel-channel-button {
          font-size: 14px;
          font-weight: 600;
          color:rgb(230, 230, 230);
        }
        .create-channel-button {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 500;
          border: 1px solid black;
          background-color: rgb(60, 104, 211);
          color: white;
          border-radius: 3px;
          height: 40px;
          width: 123px;
        }
      }
    }
  }
}

// edit channel form channel_index_item from react-modal
.edit-channel-form-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  .edit-channel-left-wrapper {
    display: flex;
    justify-content: flex-end;
    background-color: #2f3136;
    width: 34.85%;
    .edit-channel-left {
      width: 218px;
      padding: 60px 20px 60px 20px;
      .left-side-channel-name {
        color: #b9bbbe;
        font-weight: 550;
        font-size: 13px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .left-side-overview {
        color: #b9bbbe;
        font-weight: 550;
        font-size: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .border-bottom {
        border-bottom: 1px solid grey;
        margin-left: 15px;
        margin-right: 15px;
        // padding-top: 15px;
      }
      .left-side-delete-button {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 550;
        font-size: 15px;
        color: red;
      }
    }
  }

  .edit-channel-right-wrapper-1 {
    background-color: #36393f;
    display: flex;
    width: 65.15%;
    .edit-channel-form {
      display: flex;
      flex-direction: column;
      padding: 60px 40px 80px;
      width: 650px;
      min-width: 460px;
      min-height: 100%;
      h1 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 550;
        font-size: 15px;
        padding-bottom: 15px;
      }
      h2 {
        text-transform: uppercase;
        color: #b9bbbe;
        font-weight: 550;
        font-size: 12px;
        padding-bottom: 10px;
      }
      .edit-channel-input {
        border-radius: 3px;
        color: #dcddde;
        font-size: 15px;
        background-color: #2f3136;
        border: 1px solid black;
        padding: 10px;
        height: 20px;
      }
      .dummy-div-for-error {
        display: block;
        height: 20px;
      }
      .edit-channel-right-button-wrapper {
        padding-top: 15px;
        .reset-channel-button {
          font-weight: 550;
          font-size: 12px;
          color:rgb(204, 204, 204);
          padding-right: 10px;
          height: 20px;
        }
        .edit-channel-button {
          background-color:#69e376b0;
          border-radius: 3px;
          font-weight: 550;
          font-size: 12px;
          height: 20px;
          padding: 5px;
          color:rgb(255, 255, 255);
        }
      }
      .channel-error-wrapper {
        padding-top: 5px;
        .channel-error {
          color: red;
          font-size: 12px;
        }
      }
    }
    .edit-channel-right-close-modal {
      display: flex;
      height: 45px;
      color: #72767d;
      font-size: 45px;
      padding-top: 60px;
      &:hover {
        color:rgb(210, 210, 210)
      }
    }
  }
  .edit-channel-right-wrapper-2 {
    background-color: #36393f;
    display: flex;
    width: 65.15%;
    .edit-channel-form {
      display: flex;
      flex-direction: column;
      padding: 60px 40px 80px;
      width: 650px;
      min-width: 460px;
      min-height: 100%;
      h1 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 550;
        font-size: 15px;
        padding-bottom: 15px;
      }
      h2 {
        text-transform: uppercase;
        color: #b9bbbe;
        font-weight: 550;
        font-size: 12px;
        padding-bottom: 10px;
      }
      .edit-channel-input {
        border-radius: 3px;
        color: #dcddde;
        font-size: 15px;
        background-color: #2f3136;
        border: 1px solid red;
        padding: 10px;
        height: 20px;
      }
      .dummy-div-for-error {
        display: none;
        height: 20px;
      }
      .channel-error-wrapper {
        padding-top: 5px;
        .channel-error {
          color: red;
          font-size: 12px;
        }
      }
      .edit-channel-right-button-wrapper {
        padding-top: 15px;
        .reset-channel-button {
          font-weight: 550;
          font-size: 12px;
          color:rgb(204, 204, 204);
          padding-right: 10px;
          height: 20px;

        }
        .edit-channel-button {
          background-color:#69e376b0;
          border-radius: 3px;
          font-weight: 550;
          font-size: 12px;
          height: 20px;
          padding: 5px;
          color:rgb(255, 255, 255);
        }
      }
    }
    .edit-channel-right-close-modal {
      display: flex;
      height: 45px;
      color: #72767d;
      font-size: 45px;
      padding-top: 60px;
      &:hover {
        color:rgb(210, 210, 210)
      }
    }
  }
}