.explore-server-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  max-height: 100vh;
  background-color: #00000057;

  // explore page
  .explore-header-wrapper {
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 1px solid white;
    p {
      font-weight: 600;
      font-size: 24px;
      color: white;
      padding-bottom: 15px;
    }
  }
  .explore-server-index-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-width: 206.75px;
    max-width: 206.75px;

    .explore-server-home-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      border-radius: 3px;
      padding-left: 10px;
      &:hover {
        background-color: rgb(78, 78, 78);
        color: rgb(230, 230, 230);
      }
      .explore-home-icon {
        color: rgb(204, 204, 204);
        padding-right: 10px;
        font-size: 26px;
      }
      p {
        color: rgb(204, 204, 204);
        font-size: 15px;
        font-weight: 525;
      }
    }
    // .explore-server-gaming-link {
    //   .explore-gaming-icon {
    //     color: rgb(204, 204, 204);
    //     padding-right: 10px;
    //     font-size: 26px;
    //   }
    //   p {
    //   }
    // }
    // .explore-server-music-link {
    //   .explore-music-icon {
    //     color: rgb(204, 204, 204);
    //     padding-right: 10px;
    //     font-size: 26px;
    //   }
    //   p {
    //   }
    // }
    // .explore-server-sciencetech-link { 
    //   .explore-sciencetech-icon {
    //     color: rgb(204, 204, 204);
    //     padding-right: 10px;
    //     font-size: 26px;
    //   }
    //   p {
    //   }
    // }
  }
}

// changeable component home/gaming/music/sciencetech
.explore-home-wrapper {
  color: white;
  height: calc(100vh - 60px);
  width: calc(100% - 340.75px);
  min-width: 305.25px;
  padding: 30px;
  background-color: #36393f57;
  .explore-home-featured-header {
    .explore-home-header {
      font-weight: 550;
      font-size: 20px;
      color: white;
      padding-bottom: 15px;
    }
  }
  .explore-home-featured-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: rgb(82, 82, 82) rgb(255, 255, 255);
    .featured-servers-index-item-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid white;
      border-radius: 5px;
      padding: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
      height: 145px;
      width: 285px;
      .server-index-name-wrapper {
        display: flex;
        .verified-checkmark {
          color: green;
          font-size: 20px;
          padding-right: 5px;
        }
        .server-index-name {
          font-size: 15px;
          font-weight: 600;
          color: white;
        }
      }
      .server-index-members {
        p {
          font-size: 14px;
          color: rgb(212, 212, 212);
        }
      }
    }
  }
}
// .explore-gaming-wrapper {

// }
// .explore-music-wrapper {

// }
// .explore-sciencetech-wrapper {

// }