.explore-server-wrapper {
  display: flex;
  color: white;
  border: 1px solid white;
  max-height: 100vh;

  // explore page
  .explore-server-index-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 15px;
    min-width: 236.75px;
    max-width: 236.75px;
    .explore-header-wrapper {
      p {
        font-weight: 600;
        font-size: 24px;
        color: white;
        padding-bottom: 15px;
      }
    }
    .explore-server-index {
      display: flex;
      flex-direction: row;
      align-items: center;
      .explore-compass-icon {
        color: rgb(204, 204, 204);
        padding-right: 10px;
        font-size: 26px;
      }
      .explore-gaming-icon {
        color: rgb(204, 204, 204);
        padding-right: 10px;
        font-size: 26px;
      }
      .explore-music-icon {
        color: rgb(204, 204, 204);
        padding-right: 10px;
        font-size: 26px;
      }
      .explore-sciencetech-icon {
        color: rgb(204, 204, 204);
        padding-right: 10px;
        font-size: 26px;
      }
      p {
        color: rgb(204, 204, 204);
        font-size: 15px;
        font-weight: 525;
      }
    }
  }


}
// changeable component home/gaming/music/sciencetech
.explore-home-wrapper {
  color: white;
  width: calc(100% - 340.75px);
  min-width: 305.25px;
  padding: 30px;
  .explore-home-featured-header {
    .explore-home-header {
      font-weight: 550;
      font-size: 20px;
      color: white;
      padding-bottom: 15px;
    }
  }
  .explore-home-featured-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .featured-servers-index-item-wrapper {
      border: 1px solid white;
      border-radius: 5px;
      padding: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
      width: 300px;
      .server-index-name-wrapper {
        display: flex;
        .verified-checkmark {
          color: green;
          font-size: 20px;
          padding-right: 5px;
        }
        .server-index-name {
          font-size: 15px;
          font-weight: 600;
          color: white;
        }
      }
      .server-index-members {
        p {
          font-size: 14px;
          color: rgb(212, 212, 212);
        }
      }
    }
  }
}
// .explore-gaming-wrapper {

// }
// .explore-music-wrapper {

// }
// .explore-sciencetech-wrapper {

// }