.friendpage-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  width: 100%;
  .friendpage-header-wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid white;
    height: 18px;
    .friend-icon {
      margin-right: 10px;
      font-size: 20px;
    }
    .friendpage-friends {
      border-right: 1px solid white;
    }
    .friendpage-all {
      margin-left: 20px;
      ul:hover {
        cursor: pointer;
      }
    }
    .friendpage-pending {
      ul:hover {
        cursor: pointer;
      }
    }
    ul {
      margin-right: 15px;
    }
  }
  .friendpage-index-wrapper {
    // display: flex;
    // border: 1px solid white;
    height: 100%;
    width: 100%;
  }
}