// friendpage component
.friendpage-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid white;
  width: 100%;

  .friendpage-header-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid white;
    height: 18px;
    .friend-icon {
      margin-right: 5px;
      margin-left: 10px;
      font-size: 25px;
    }
    .friendpage-friends {
      font-weight: 600;
      font-size: 16px;
      border-right: 1px solid white;
    }
    .friendpage-all {
      font-weight: 500;
      color:rgb(173, 173, 173);
      margin-left: 20px;
      a:hover {
        color: rgb(220, 220, 220);
        cursor: pointer;
      }
    }
    .friendpage-pending {
      font-weight: 500;
      color: rgb(173, 173, 173);
      a:hover {
        color: rgb(220, 220, 220);
        cursor: pointer;
      }
    }
    .friendpage-add {
      font-weight: 500;
      a {
        color: rgb(9, 167, 9)
      }
    }
    .friendlist-buttons {
      margin-right: 20px;
      font-size: 15px;
    }
  }

  .friendpage-index-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);

    // all-friends-index component
    .all-friends-index-wrapper {
      display: flex;
      flex-direction: column;

      .all-friends-index-header {
        // border-bottom: 1px solid rgb(173, 173, 173);
        .all-friends-header {
          font-weight: 600;
          font-size: 15px;
          border-bottom: 1px solid rgb(173, 173, 173);
          padding-bottom: 15px;
          padding-top: 15px;
        }
      }
      .all-friends-index-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(173, 173, 173);
        height: 39px;
        ul {
          display: flex;
          align-items: center;
          color:rgb(235, 235, 235);
          font-weight: 600;
          font-size: 15px;
        }
        .all-friends-index-item-button-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          .chatbox-outline {
            &:hover {
              color: green
            }
          }
          .closecircle-outline {
            &:hover {
              color: red;
            }
          }
          svg {
            display: flex;
            align-items: center;
            font-size: 30px;
            margin-right: 10px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .pending-index-wrapper {
      h1 {
        font-weight: 600;
        font-size: 15px;
        border-bottom: 1px solid rgb(173, 173, 173);
        padding-bottom: 15px;
        padding-top: 15px;
      }
      
      .pending-incoming-index-wrapper {
        // h2 {
        //   border-bottom: 1px solid rgb(173, 173, 173);
        //   padding-bottom: 15px;
        //   padding-top: 15px;
        // }
        .pending-friends-index-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 40px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid rgb(173, 173, 173);
          height: 39px;
          .pending-friends-index-username {
            i {
              color:rgb(235, 235, 235);
              font-weight: 600;
              font-size: 15px;
            }
            p {
              color: rgb(180, 180, 180);
              padding-top: 3px;
              font-size: 12px;
            }
          }
          .pending-friends-index-item-button-wrapper {
            display: flex;
            .checkmark-circle {
              display: flex;
              align-items: center;
              font-size: 30px;
              margin-right: 10px;
              &:hover {
                color: green;
                cursor: pointer;
              }
            }
            .close-circle {
              display: flex;
              align-items: center;
              font-size: 30px;
              margin-right: 10px;
              &:hover {
                color: red;
                cursor: pointer;
              }
            }
          }
        }
      }

      .pending-outgoing-index-wrapper {
        .pending-friends-index-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 40px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid rgb(173, 173, 173);
          height: 39px;
          .pending-friends-index-username {
            i {
              color: rgb(235,235,235);
              font-weight: 600;
              font-size: 15px;
            }
            P {
              color: rgb(172, 172, 172);
              padding-top: 3px;
              font-size: 12px;
            }
          }
          .pending-friends-index-item-button-wrapper {
            display: flex;
            flex-direction: column;
            .outgoing-pending-tooltip {
              position: static;
              margin-bottom: 20px;
              // .tooltip-bubble {
              //   position: relative;
              //   font-size: 50px;
              //   left: 25px;
              //   margin: 50px;
              // }
              .tooltip-bubble-text {
                position: absolute;
                // margin-bottom: 50px;
                // bottom: 50px;
              }
            }
            .checkmark-circle {
              display: flex;
              align-items: center;
              font-size: 30px;
              margin-right: 10px;
              &:hover {
                color: green;
                cursor: pointer;
              }
            }
            .close-circle {
              display: flex;
              align-items: center;
              font-size: 30px;
              margin-right: 10px;
              position: static;
              &:hover {
                color: red;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}


