.register-button, .login-button {
  border: none;
  background-color: rgb(29, 103, 146);
  color: rgb(245, 245, 245);
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  font-weight: 500;
}