.messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 77%;
  // height: 775px;
  .messages-header{
    border-bottom: 1px solid white;
    h1 {
      font-size: 25px;
      color: rgb(204, 204, 204);
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .messages-display::-webkit-scrollbar {
    display: none;
  }
  .messages-display-input-wrapper {
    // display: flex;
    // justify-content: space-between;
    height: 100%;
    width: 100%;
    align-self: flex-start;
    .messages-display {
      height: 745px;
      min-height: auto;
      width: 100%;
      overflow-y: scroll;
      scrollbar-width: none;  /* Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
    }
    .message {
      padding-top: 15px;
      h1 {
        color: rgb(255, 255, 255);
        padding-bottom: 5px;
      }
      ul {
        color: rgb(255, 255, 255);
      }
    }
    .message-form-wrapper {
      display: flex;
      align-items: center;
      margin-top: 10px;
      height: 40px;
      background-color: rgb(117, 117, 117);
      border-radius: 5px;
      min-width: 100%;
      .message-input {
        padding-left: 10px;
        color: white;
        min-width: 540px;
      }
    }
  }
}