.messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 77%;
  .messages-header{
    border-bottom: 1px solid white;
    h1{
      font-size: 25px;
      color: rgb(204, 204, 204);
    }
  }
  .messages {
    align-self: flex-start;
    ul {
      color: rgb(204, 204, 204);
    }  
  }
  .message {
    
  }
}