.session-header-wrapper {
  display: flex;
  margin: 24px;
  width: 80%;

  .session-home-link {
    position: relative;
    height: 35px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    // .horizontal-logo {
    //   position: relative;
    //   height: 35px;
    // }
  }
}

.session-form-wrapper {

  // shared form styling

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 580px;
  top: 0;
  left: 0;
  // font-family: $roboto;

  .session-form {
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .label-email, .label-username, .label-password {
      display: flex;
      flex-direction: column;
    }

    button {
      border: 1px solid black;
      font-size: 16px;
      border-radius: 3px;
      text-align: center;
      background-color: rgb(37, 126, 117);
      color: white;
    }

    input {
      box-sizing: border-box;
      font-size: 16px;
      outline: none;
      width: 412px;
      height: 40px;
      border-radius: 3px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid;
      transition: border-color .2s ease-in-out;
  
      &:hover {
        border-color:rgba(9, 88, 107, 0.2);
      }
    }

  }

  // inquiry text and link

  .redirect-wrapper-register {
    display: flex;
    justify-content: center;
    // flex-direction: column;
    
    .register-link {
      border: 1px solid;
      border-radius: 1px solid;
    }
  }
  .redirect-wrapper-login {
    display: flex;
    justify-content: center;
    // flex-direction: column;

    .login-link {
      border: 1px solid;
      border-radius: 1px solid;
    }
  }

  // demo button
  .demo-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
      background-color: rgb(37, 126, 117);
      color: white;
      font-size: 16px;
      border: 1px solid black;
    }

  }

  // login form

  .form-box-Login {
    background-color: $form-color;
    width: 784px;
    height: 408px;
    padding: 32px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    .form-wrapper {
      display: flex;
      flex-direction: column;
    }

  }

  .session-error {
    color: red;
  }

  // register form

  .form-box-Register {
    background-color: $form-color;
    width: 784px;
    height: 408px;
    padding: 32px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    .form-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .session-error {
    color: red;
  }

}



// .login-button {
//   border: none;
//   background-color: turquoise;
//   color: rgb(192, 89, 5);
//   border-style: outset;
//   margin: 5px;
//   padding: 3px;
//   font-weight: 500;
// }

// .register-button:active {
//   border-style: inset;
// }

// .login-button:active {
//   border-style: inset;
// }

// .splash {
//   background-image: image-url("bg.png");
//   height: 800px;
//   background-size: cover, contain;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }