.bg-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-image: image-url("echo-background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  .session-header-wrapper {
    color: red;
    padding: 15px;
    .session-home-link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      text-align: center;
      margin: 15px;
      padding: 3px;
      height: 45px;
      width: 45px;
      font-size: 30px;
      border-radius: 50%;
      font-weight: 500;
      &:hover {
        background-color: rgb(12, 178, 184);
        color:rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }
  .session-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // demo button
  .demo-wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 65%;
    .demo-text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      width: 50%;
    }
    .demo-login {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(37, 126, 117);
      border-radius: 3px;
      color: white;
      font-size: 16px;
      border: 1px solid black;
      margin-top: 20px;
      width: 192px;
      height: 40px;
    }
  }
  // login form
  .form-box-Login {
    width: 784px;
    height: 408px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.685);
    .session-form {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .session-form-header {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .email-wrapper {
        margin-top: 20px;
        .label-email {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
          }
        }
        .label-error-email {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          color: red;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
            color: red;
          }
        }
      }
      .password-wrapper {
        .label-password {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
          }
        }
        .label-error-password {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          color: red;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
            color: red;
          }
        }
      }
      .Login-button {
        border: 1px solid black;
        font-size: 16px;
        border-radius: 3px;
        text-align: center;
        background-color: rgb(37, 126, 117);
        color: white;
        margin-top: 15px;
        width: 100%;
        height: 40px;
      }
      input {
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
        width: 412px;
        height: 40px;
        border-radius: 3px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid;
        transition: border-color .2s ease-in-out;
        &:hover {
          border-color:rgba(9, 88, 107, 0.2);
        }
      }
      // redirect wrapper
      .redirect-wrapper-login {
        // display: flex;
        margin-top: 10px;
        .register-account {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          font-size: 12px;
          color: #474d52;
        }
        .register-link {
          padding-left: 5px;
          font-size: 12px;
          font-weight: 600;
          color: #006bc2;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  // register form
  .form-box-Register {
    width: 480px;
    height: 570px;
    padding: 32px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.685);
    .session-form {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .session-form-header {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .username-wrapper {
        margin-top: 20px;
        .label-username {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
          }
        }
        .label-error-username {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          color: red;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
            color: red;
          }
        }
      }
      .email-wrapper {
        .label-email {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
          }
        }
        .label-error-email {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          color: red;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
            color: red;
          }
        }
      }
      .password-wrapper {
        .label-password {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
          }
        }
        .label-error-password {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px;
          width: 100%;
          color: red;
          input {
            font-weight: 100;
            font-size: 14px;
            height: 40px;
            width: 100%;
            color: red;
          }
        }
      }
      .terms {
        font-size: 12px;
        font-weight: 700;
      }
      .Register-button {
        border: 1px solid black;
        font-size: 16px;
        border-radius: 3px;
        text-align: center;
        background-color: rgb(37, 126, 117);
        color: white;
        margin-top: 15px;
        width: 100%;
        height: 40px;
      }
      input {
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
        width: 412px;
        height: 40px;
        border-radius: 3px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid;
        transition: border-color .2s ease-in-out;
        &:hover {
          border-color:rgba(9, 88, 107, 0.2);
        }
      }
    }
    .redirect-wrapper-register {
      .login-link {
        display: flex;
        padding-top: 10px;
        font-size: 12px;
        font-weight: 600;
        color: #006bc2;
        width: 150px;
      }
    }
  }
  .session-error {
    color: red;
  }
}